<div>

    <h2 translate="proconcoappApp.planningWeek.home.title">PlanningWeeks</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#savePlanningWeekModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="proconcoappApp.planningWeek.home.createLabel">Create a new PlanningWeek</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a PlanningWeek</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="savePlanningWeekModal" tabindex="-1" role="dialog" aria-labelledby="myPlanningWeekLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myPlanningWeekLabel" translate="proconcoappApp.planningWeek.home.createOrEditLabel">Create or edit a PlanningWeek</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="planningWeek.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="proconcoappApp.planningWeek.monday">Monday</label>
                            <input type="text" class="form-control" name="monday"
                                   ng-model="planningWeek.monday">

                        </div>
                        <div class="form-group">
                            <label translate="proconcoappApp.planningWeek.tuesday">Tuesday</label>
                            <input type="text" class="form-control" name="tuesday"
                                   ng-model="planningWeek.tuesday">

                        </div>
                        <div class="form-group">
                            <label translate="proconcoappApp.planningWeek.wednesday">Wednesday</label>
                            <input type="text" class="form-control" name="wednesday"
                                   ng-model="planningWeek.wednesday">

                        </div>
                        <div class="form-group">
                            <label translate="proconcoappApp.planningWeek.thursday">Thursday</label>
                            <input type="text" class="form-control" name="thursday"
                                   ng-model="planningWeek.thursday">

                        </div>
                        <div class="form-group">
                            <label translate="proconcoappApp.planningWeek.friday">Friday</label>
                            <input type="text" class="form-control" name="friday"
                                   ng-model="planningWeek.friday">

                        </div>
                        <div class="form-group">
                            <label translate="proconcoappApp.planningWeek.saturday">Saturday</label>
                            <input type="text" class="form-control" name="saturday"
                                   ng-model="planningWeek.saturday">

                        </div>
                        <div class="form-group">
                            <label translate="proconcoappApp.planningWeek.sunday">Sunday</label>
                            <input type="text" class="form-control" name="sunday"
                                   ng-model="planningWeek.sunday">

                        </div>
                        <div class="form-group">
                            <label translate="proconcoappApp.planningWeek.delFlag">DelFlag</label>
                            <input type="text" class="form-control" name="delFlag"
                                   ng-model="planningWeek.delFlag" required ng-minlength="1" ng-maxlength="1" ng-pattern="/[YN]/">

                            <div ng-show="editForm.delFlag.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.delFlag.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.delFlag.$error.minlength" translate="entity.validation.minlength" translate-value-min="1">
                                    This field is required to be at least 1 characters.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.delFlag.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="1">
                                    This field cannot be longer than 1 characters.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.delFlag.$error.pattern" translate="entity.validation.pattern" translate-value-pattern="[YN]">
                                    This field should follow pattern "[YN]".
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="proconcoappApp.planningWeek.crtUid">CrtUid</label>
                            <input type="text" class="form-control" name="crtUid"
                                   ng-model="planningWeek.crtUid">

                        </div>
                        <div class="form-group">
                            <label translate="proconcoappApp.planningWeek.crtTms">CrtTms</label>
                            <input type="date" class="form-control" name="crtTms"
                                   ng-model="planningWeek.crtTms">

                        </div>
                        <div class="form-group">
                            <label translate="proconcoappApp.planningWeek.updUid">UpdUid</label>
                            <input type="text" class="form-control" name="updUid"
                                   ng-model="planningWeek.updUid">

                        </div>
                        <div class="form-group">
                            <label translate="proconcoappApp.planningWeek.updTms">UpdTms</label>
                            <input type="text" class="form-control" name="updTms"
                                   ng-model="planningWeek.updTms">

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deletePlanningWeekConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(planningWeek.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="proconcoappApp.planningWeek.delete.question" translate-values="{id: '{{planningWeek.id}}'}">Are you sure you want to delete this PlanningWeek?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="proconcoappApp.planningWeek.monday">Monday</th>
                    <th translate="proconcoappApp.planningWeek.tuesday">Tuesday</th>
                    <th translate="proconcoappApp.planningWeek.wednesday">Wednesday</th>
                    <th translate="proconcoappApp.planningWeek.thursday">Thursday</th>
                    <th translate="proconcoappApp.planningWeek.friday">Friday</th>
                    <th translate="proconcoappApp.planningWeek.saturday">Saturday</th>
                    <th translate="proconcoappApp.planningWeek.sunday">Sunday</th>
                    <th translate="proconcoappApp.planningWeek.delFlag">DelFlag</th>
                    <th translate="proconcoappApp.planningWeek.crtUid">CrtUid</th>
                    <th translate="proconcoappApp.planningWeek.crtTms">CrtTms</th>
                    <th translate="proconcoappApp.planningWeek.updUid">UpdUid</th>
                    <th translate="proconcoappApp.planningWeek.updTms">UpdTms</th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="planningWeek in planningWeeks">
                    <td><a ui-sref="planningWeekDetail({id:planningWeek.id})">{{planningWeek.id}}</a></td>
                    <td>{{planningWeek.monday}}</td>
                    <td>{{planningWeek.tuesday}}</td>
                    <td>{{planningWeek.wednesday}}</td>
                    <td>{{planningWeek.thursday}}</td>
                    <td>{{planningWeek.friday}}</td>
                    <td>{{planningWeek.saturday}}</td>
                    <td>{{planningWeek.sunday}}</td>
                    <td>{{planningWeek.delFlag}}</td>
                    <td>{{planningWeek.crtUid}}</td>
                    <td>{{planningWeek.crtTms}}</td>
                    <td>{{planningWeek.updUid}}</td>
                    <td>{{planningWeek.updTms}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="planningWeekDetail({id:planningWeek.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="showUpdate(planningWeek.id)"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(planningWeek.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
